<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/admin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @RenderBody()



    @*<script src="~/Assets/client/js/jquery.min.js"></script>*@

    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/client/js/notify/notify.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/client/js/jquery.validate.min.js"></script>
    <script src="~/Assets/client/js/additional-methods.min.js"></script>
    <script src="~/Assets/admin/js/script.js"></script>

</body>
</html>
